/node_modules
/.highstandards/accepted
/home/elorenz/documents/code/high-standards-js/git-contributors/home/elorenz/documents/code/high-standards-js/git-contributors/.highstandards/accepted
/home/olorenz/documents/code/high-standards-js/git-contributors/home/olorenz/documents/code/high-standards-js/git-contributors/.highstandards/accepted
