{
    "endOfLine": "lf",
    "printWidth": 100,
    "trailingComma": "all",
    "tabWidth": 2,
    "semi": true,
    "singleQuote": true,
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 70,
                "useTabs": false,
                "trailingComma": "none",
                "proseWrap": "never"
            }
        }
    ]
}
